.Header {
  width: 100%;
  height: 100px;
}

.Header-logo {
  height: 60px;
  padding: 8px 0 0 68px;
  background-color: #6cc7be;

}

.Header-logo > img {
  height: 40px;
  width: auto;
}

.Header-notification {
  position: absolute;
  top: 0;
  height: 40px;
  width: 100%;
  line-height: 40px;
  text-align: center;
  transition: top 1s ease-in-out;
  overflow: hidden;
  z-index: -1;
}

.Header-notification.isOpen {
  top: 60px;
}

.Header-notification-info {
  color: #00529B;
  background-color: #BDE5F8;
}
.Header-notification-success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.Header-notification-warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
.Header-notification-error {
  color: #D8000C;
  background-color: #FFD2D2;
}
