.TransactionInfo {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  padding: 8px;
  background-color: #f3f3f3;
}

.TransactionInfo.isEmpty {
  align-items: center;
  justify-content: center;
}

.TransactionInfo-emptyMessage {
  text-align: center;
}

.TransactionInfo-users {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.TransactionInfo-users > div {
  width: 45%;
}

.TransactionInfo-price, .TransactionInfo-dates {
  margin-top: 8px;
}

.TransactionInfo-price {
  margin-top: 8px;
  color: green;
}

.TransactionInfo-credit, .TransactionInfo-promocode {
  padding-left: 8px;
  color: red;
}

.TransactionInfo-actions {
  margin-top: 24px;
  display: flex;
}

.TransactionInfo-actions.isActioning > div {
  cursor: progress;
}

.TransactionInfo-authorize,
.TransactionInfo-quarantine {
  padding: 8px 16px;
  background: white;
  border-radius: 8px;
  cursor: pointer;
}

.TransactionInfo-authorize {
  color: green;
  margin-right: 8px;
}

.TransactionInfo-quarantine {
  color: red;
}

.TransactionInfo-status {
  margin-top: 16px;
}

.TransactionInfo-status-flApproved,
.TransactionInfo-status-paid,
.TransactionInfo-status-preAuthorized {
  color: green;
}

.TransactionInfo-status-escrow {
  color: orange;
}

.TransactionInfo-status-preAuthorizedCancelled,
.TransactionInfo-status-cancelled,
.TransactionInfo-status-quarantined {
  color: red;
}
