.Transactions-inner {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.Transactions-transaction {
  padding: 12px 0;
  border-top: 1px solid #ccc;
  width: 100%;
}

.Transactions-transaction-flApproved {
  color: green;
}
