.TransactionRow {
  padding: 12px 8px;
  border-top: 1px solid #ccc;
  width: 100%;
  cursor: pointer;
}

.TransactionRow.isSelected {
  background-color: #f3f3f3;
}

.TransactionRow-flApproved,
.TransactionRow-paid,
.TransactionRow-preAuthorized {
  color: green;
}

.TransactionRow-escrow {
  color: orange;
}

.TransactionRow-preAuthorizedCancelled,
.TransactionRow-cancelled,
.TransactionRow-quarantined {
  color: red;
}
