html, body, #root {
  height: 100%;
  overflow: hidden;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-header {
  flex-grow: 0;
  flex-shrink: 0;
}

.App-body {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  overflow: auto;
}

.App-body > div {
  border-radius: 4px;
  width: 45%;
}

.App-body > div:first-child {
  flex-grow: 1;
  overflow: auto;
  height: 100%;
}

.App-body > div:nth-child(2) {
  flex-grow: 3;
  height: 600px;
}
